<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Include page head -->
    <%- include("./partials/head"); %>

    <style>
      .row > * {
        margin: 10px;
      }
    </style>

    <!-- Home JS -->
    <script src="/home.js" defer></script>

    <title>Connect4 - Home</title>
  </head>
  <header>
    <!-- Include page header -->
    <%- include("./partials/header"); %>
  </header>
  <body>
    <div class="container">
      <h1 class="display-1">Welcome <small class="text-muted"><%= username %></small></h1>
      <div class="row">
        <div class="card">
          <div class="card-body">
            View your game history or select to create/join a game.
          </div>
        </div>
      </div>
      <div class="row">
        <div class="d-flex justify-content-center">
          <button id="createGameBtn" class="btn btn-primary btn-lg" type="button">
            Create Game
          </button>
        </div>

        <!-- Table of user's game history -->
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h2>Game history</h2>

              <% if (gameHistory.length > 0) { %>
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Date</th>
                      <th scope="col">Opponent</th>
                      <th scope="col">Score</th>
                      <th scope="col">Winner</th>
                    </tr>
                  </thead>
                  <tbody>
                    <!-- Loop over players game history -->
                    <% for (let i = 0; i < gameHistory.length; i++) { %>
                      <!-- Win/draw/loss -->
                      <tr>
                        <th scope="row"><%= gameHistory[i].date %></td>
                        <td><%= gameHistory[i].opponent %></td>
                        <% if (gameHistory[i].winner === username) { %>
                          <td class="table-success"><%= gameHistory[i].scores[0] %> - <%= gameHistory[i].scores[1] %></td>
                        <% } else if (gameHistory[i].state === 4) { %>
                          <td class="table-warning"><%= gameHistory[i].scores[0] %> - <%= gameHistory[i].scores[1] %></td>
                        <% } else { %>
                          <td class="table-danger"><%= gameHistory[i].scores[0] %> - <%= gameHistory[i].scores[1] %></td>
                        <% } %>
                        <% if (gameHistory[i].state === 4) { %>
                          <td>N/A</td>
                        <% } else { %>
                          <td><%= gameHistory[i].winner %></td>
                        <% } %>
                      </tr>
                    <% } %>
                  </tbody>
                </table>
              <% } else { %>
                <p>You have no game history. Create or join a game to start playing!</p>
              <% } %>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card">
            <div class="card-body">
              <h2>Join game</h2>

              <% if (availableGames.length > 0) { %>
                <table class="table">
                  <thead>
                    <tr>
                      <!-- <th scope="col">#ID</th> -->
                      <th scope="col">Date</th>
                      <th scope="col">Opponent</th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% for (let i = 0; i < availableGames.length; i++) { %>
                      <!-- Available (games with a state of -1 or 0) -->
                      <tr>
                        <td scope="row"><%= availableGames[i].date %></td>
                        <td><%= availableGames[i].opponent %></td>
                        <td>
                          <a href="/game/<%= availableGames[i].id %>" id="play-btn-<%= i + 1 %>" class="btn btn-primary btn-sm" role="button">Join</a>
                        </td>
                      </tr>
                    <% } %>
                  </tbody>
                </table>
              <% } else { %>
                <p>There are no games available currently. Create a game for others to join.</p>
              <% } %>

              <!-- In Play (show in a separate table) -->
              <!-- <tr>
                <td scope="row">test</td>
                <td colspan="2">In Play</td>
              </tr> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
